<!DOCTYPE html>
<html data-theme="lemonade"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- 제이쿼리 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

    <!-- toastr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <link rel="stylesheet" href="https://jhs512.github.io/toastr/toastr.css">

    <!-- 폰트어썸 아이콘 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <!-- 공통 JS -->
    <script src="/resource/common/common.js"></script>
    <!-- 공통 CSS -->
    <link rel="stylesheet" href="/resource/common/common.css">

    <script>
        // 타임리프 문법(파라미터, ? 뒤에 입력된 매개변수들)
        const params = JSON.parse('[( ${@rq.paramsJsonStr} )]');
    </script>

</head>

<body>

<!-- 데이지 UI -->
<link href="https://cdn.jsdelivr.net/npm/daisyui@3.1.5/dist/full.css" rel="stylesheet" type="text/css"/>
<!-- 테일윈드 -->
<script src="https://cdn.tailwindcss.com"></script>
<div class="flex bg-green-100">
    <div class="fixed w-[50vw] h-screen p-4 flex flex-col items-center justify-center">
        <div class="object-scale-down w-full h-4/5"> 소개페이지 (추후 수정 예정)</div>
    </div>
    <div class="relative w-screen shadow-lg lg:w-[32rem] lg:ml-[50vw] bg-base-100">
        <header layout:fragment="header" class="sticky top-0 w-full lg:w-[32rem] z-50"></header>

        <main layout:fragment="main" class="flex-grow flex items-center justify-center"></main>

        <div layout:fragment="footer" class="fixed bottom-0 w-full lg:w-[32rem] z-50"></div>
    </div>

    <div class="bg-green-100 h-screen"></div>
    <div class="fixed top-0 h-screen hidden lg:block w-screen lg:w-[32rem] lg:ml-[50vw] shadow-w3" style="z-index: -1;"></div>
</div>

<script th:inline="javascript">
    if (params.msg) {
        toastNotice(params.msg[0]);
    }

    if (params.errorMsg) {
        toastWarning(params.errorMsg[0]);
    }

    // history.back 에 의해서 돌아온 경우에 실행됨
    // 평소에도 실행됨
    $(window).bind("pageshow", function (event) {
        const localStorageKeyAboutHistoryBackErrorMsg = "historyBackErrorMsg___" + location.href;

        if (localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg)) {
            toastWarning(localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg));
            localStorage.removeItem(localStorageKeyAboutHistoryBackErrorMsg);
        } else {
            const localStorageKeyAboutHistoryBackErrorMsg = "historyBackErrorMsg___null";

            if (localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg)) {
                toastWarning(localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg));
                localStorage.removeItem(localStorageKeyAboutHistoryBackErrorMsg);
            }
        }
    });
</script>

</body>
</html>