<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>좋아요 목록</title>
</head>

<body>
<main layout:fragment="main">
    <div class="hero-content flex flex-col my-10 2 w-[32rem] max-w-lg">

        <div th:each="product, loop : ${@rq.getMember.likedProducts}"
             class="bg-base-100 border-b border-gray-200 p-10 pt-5">
            <a th:href="@{|/product/detail/${product.id}|}">

                <div class="flex justify-around gap-5">
                    <div class="border border-gray-200 w-2/6 p-5">
                        이미지
                    </div>
                    <div class="flex flex-col gap-3 w-4/6">
                        <div class="flex flex-col gap-1">
                            <h3 th:text="${product.seller.name}"></h3>
                            <h1 th:text="${product.name}" class="text-xl font-bold"></h1>
                        </div>
                        <div class="flex justify-between items-center">
                            <div class="items-center">
                                <i class="fa-solid fa-heart" style="color: #FF0000;"></i>
                                <span th:text="${product.likedMembers.size()}"></span>
                            </div>
                            <span class="text-lg font-bold"
                                  th:text="${#numbers.formatInteger(product.price, 0, 'COMMA') + '원'}"></span>
                        </div>
                    </div>
                </div>

            </a>
        </div>

    </div>
</main>
</body>

</html>
