<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>내가 쓴 글 / 댓글</title>
</head>

<body>
<main layout:fragment="main">
    <div class="hero-content flex flex-col my-10 2 w-[32rem] max-w-lg">
        <div class="w-full">
            <span class="text-4xl">내가 쓴 글</span>
            <div th:each="post, loop : ${posts}"
                 class="bg-base-100 border-t border-gray-200 pt-5">
                <div class="card-body">
                    <div class="card bg-base-100 border border-gray-200 w-full">
                        <div class="flex flex-row justify-between items-center">
                            <div style="max-width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                <a th:text="${post.title}" class="text-2xl"
                                   th:href="@{/usr/post/detail/{id}(id=${post.id})}"></a>
                            </div>
                            <span th:text="${#temporals.format(post.createDate, 'yyyy/MM/dd')}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-full">
            <span class="text-4xl">내가 쓴 댓글</span>
            <div th:each="comment, loop : ${comments}"
                 class="bg-base-100 border-t border-gray-200 pt-5">
                <div class="card-body">
                    <div class="card bg-base-100 border border-gray-200 w-full">
                        <div class="flex flex-row justify-between items-center">
                            <div style="max-width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                <a th:text="${comment.post.title}" class="text-2xl"
                                   th:href="@{/usr/post/detail/{id}(id=${comment.post.id})}"></a>
                            </div>
                            <span th:text="${#temporals.format(comment.createDate, 'yyyy/MM/dd')}"></span>
                        </div>
                        <div style="max-width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                            <a th:text="${comment.content}" class="text-2xl"
                               th:href="@{/usr/post/detail/{id}(id=${comment.post.id})}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
</body>

</html>
