<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>내 게시글</title>
</head>

<body>
<main layout:fragment="main">
    <div class="hero-content flex flex-col mb-10 2 w-[32rem] max-w-lg mt-5">
        <div class="w-full">
            <div class="flex flex-row items-center justify-center mb-10">
                <span class="text-4xl mr-4">내</span>
                <a href="/usr/consumer/myPosts" class="text-4xl text-blue-700">게시글</a>
                <span class="text-4xl ml-4 mr-4">/</span>
                <a href="/usr/consumer/myComments" class="text-4xl">댓글</a>
            </div>
            <th:block th:if="${posts.size()==0}">
                <span class="flex items-center justify-center">등록한 게시글이 없습니다.</span>
            </th:block>
            <div th:if="${posts.size()!=0}" class="border-t border-gray-200"></div>
            <div th:each="post, loop : ${posts}"
                 class="bg-base-100 pt-5">
                <div class="card bg-base-100 border border-gray-200 pl-5 pr-5">
                    <div class="flex flex-row justify-between items-center">
                        <div class="flex flex-row items-center">
                            <div style="max-width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                <a class="text-2xl" th:text="${post.title}"
                                   th:href="@{/usr/post/detail/{id}(id=${post.id})}"></a>
                            </div>
                            <span class="ml-2"
                                  th:text="${(post.getCommentCnt() >= 1 ? ' (' + post.getCommentCnt() + ')' : '')}"></span>
                        </div>
                        <span th:text="${#temporals.format(post.createDate, 'yyyy/MM/dd')}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>

</html>
