<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>설문조사 안내사항</title>
</head>

<body>
<main layout:fragment="main">
  <div class="hero-content flex flex-col justify-center my-10 w-full ">
    <div class="flex flex-col justify-center">
        <h1 class="text-2xl text-center font-bold text-center mb-5">건강 설문</h1>
        <span class="text-center">맞춤 영양소 추천</span>
        <span class="text-center">건강 설문 진행 방식을 선택해주세요</span>
    </div>
      <div class="w-full max-w-md flex flex-col justify-center gap-5 mb-20 mt-5 px-5">
          <a href="/member/login" tabindex="0" class="flex flex-col justify-center items-center gap-3 p-5 rounded-lg bg-gray-100 hover:bg-gray-200">
              <span class="text-xl font-bold">로그인하고 회원으로 진행하기</span>
              <span>설문 결과가 저장 됩니다!</span>
          </a>
          <a href="/survey/start" tabindex="0" class="flex flex-col justify-center items-center gap-3  p-5 rounded-lg bg-gray-100 hover:bg-gray-200">
              <span class="text-xl font-bold">비회원으로 진행하기</span>
              <span >설문 결과가 저장되지 않습니다!</span>
          </a>
      </div>

  </div>

</main>
</body>
</html>