<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>설문조사 시작하기</title>
</head>

<body>
<main layout:fragment="main">
    <div class="hero-content flex flex-col justify-center my-10 ">
        <h1 class="text-5xl font-bold">건강 설문
        </h1>
        <span th:style="${'color: black; font-size:25px; text-align: center'}">불편함을 느끼거나</br>
            관리가 필요한 것을 선택하세요</br>
        </span>
        <span th:style="${'color: #568271; font-size:25px; text-align:center'}">최대 3개까지 선택할 수 있습니다
        </span>
    </div>
    <div th:each="entry : ${map}">
        <label>
            <input type="checkbox" th:value="${entry.key}" aria-label="Checkbox" class="btn" />
            <span th:text="${entry.value}"></span>
        </label>
    </div>
</main>
</body>
</html>