<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>상품 등록</title>
</head>

<body>
<main layout:fragment="main">
    <div class="hero-content flex flex-col my-10 w-[32rem] mb-28">
        <h1 class="text-2xl font-bold">
            상품 등록
        </h1>

        <form th:action method="POST" class="flex flex-col gap-7 mt-5 px-5 w-full" enctype="multipart/form-data" onsubmit="productRequestDto__submit(this, event); return false;">
            <div>
                <label for="name" class="block text-gray-700 font-bold mb-2">상품명</label>
                <input type="text" id="name" name="name" class="input input-bordered py-2 px-3 w-full" placeholder="상품명을 입력해주세요.">
            </div>

            <div class="flex flex-col">
                <span class="text-gray-700 font-bold mb-2">상세 설명</span>
                <textarea id="description" name="description" placeholder="상품에 대한 상세 설명을 입력해주세요."
                          class="textarea textarea-bordered h-36 py-2 px-3"></textarea>
            </div>
            <div>
                <label for="price" class="block text-gray-700 font-bold mb-2">가격(원)</label>
                <input type="number" min="0"  id="price" name="price" class="input input-bordered py-2 px-3" placeholder="상품 가격을 입력해주세요.">
            </div>
            <div class="mb-4">
                <label for="stock" class="block text-gray-700 font-bold mb-2">재고</label>
                <input type="number" min="0"  id="stock" name="stock" class="input input-bordered py-2 px-3" placeholder="상품 재고를 입력해주세요.">
            </div>
            <div>
                <label class="block text-gray-700 font-bold mb-2">주요 성분</label>
                <div class="flex justify-between">
                    <select id="selectedNutrient" name="selectedNutrient" class="select select-bordered w-3/4">
                        <option disabled selected>주요 영양성분</option>
                        <option th:each="nutrient, loop : ${nutrients}"
                                th:value="${nutrient.id}"
                                th:text="${nutrient.name}"></option>
                    </select>
                    <button type="button" class="btn" onclick="addSelectedNutrient()">추가하기</button>
                </div>
                <ul id="selectedNutrientList" class="flex flex-col gap-3 my-2 border border-gray-200 rounded-md p-3"></ul>
                <input type="hidden" id="nutrientIds" name="nutrientIds" value="">
            </div>
            <div >
                <label class="block text-gray-700 font-bold mb-2">주요 기능</label>
                <div class="flex justify-between">
                    <select id="selectedCategory" name="selectedCategory" class="select select-bordered w-3/4">
                        <option disabled selected>주요 기능</option>
                        <option th:each="category, loop : ${categories}"
                                th:value="${category.id}"
                                th:text="${category.name}"></option>
                    </select>
                    <button type="button" class="btn" onclick="addSelectedCategory()">추가하기</button>
                </div>
                <ul id="selectedCategoryList" class="flex flex-col gap-3 my-2 border border-gray-200 rounded-md p-3"></ul>
                <input type="hidden" id="categoryIds" name="categoryIds" value="">
            </div>
            <div class="flex flex-col">
                <span class="text-gray-700 font-bold mb-2">이미지 등록</span>
                <input type="file" id="imageFile" name="imageFile" class="file-input file-input-accent w-full max-w-xs"/>
            </div>
            <button type="submit" class="btn btn-accent mt-5">
                상품 등록
            </button>
        </form>
    </div>


    <script>
        // 영양성분 선택
        function addSelectedNutrient() {
            var selectBox = document.getElementById("selectedNutrient");
            var selectedOption = selectBox.options[selectBox.selectedIndex];

            // 비활성화된 경우
            if (selectedOption.disabled) {
                return;
            }

            var selectedNutrientList = document.getElementById("selectedNutrientList");

            // 이미 선택된 옵션인지 확인
            var selectedOptionValue = selectedOption.value;
            var selectedItems = selectedNutrientList.getElementsByTagName("li");
            for (var i = 0; i < selectedItems.length; i++) {
                var listItem = selectedItems[i];
                var listItemValue = listItem.getAttribute("data-value");

                // 이미 선택된 옵션인 경우
                if (listItemValue === selectedOptionValue) {
                    return;
                }
            }

            var listItem = document.createElement("li");
            listItem.textContent = selectedOption.textContent;
            listItem.setAttribute("data-value", selectedOptionValue);

            // 삭제 버튼
            var deleteButton = document.createElement("button");
            deleteButton.textContent = "X";
            deleteButton.classList.add("px-1", "ml-3", "cursor-pointer");
            deleteButton.addEventListener("click", function () {
                listItem.remove(); // 항목 삭제
                updateNutrientsInput();
            });

            var spaceSpan = document.createElement("span");

            listItem.appendChild(spaceSpan);
            listItem.appendChild(deleteButton);
            selectedNutrientList.appendChild(listItem);
            updateNutrientsInput();
        }

        function updateNutrientsInput() {
            var selectedNutrientList = document.getElementById("selectedNutrientList");
            var selectedItems = selectedNutrientList.getElementsByTagName("li");
            var nutrientsList = [];

            for (var i = 0; i < selectedItems.length; i++) {
                var listItem = selectedItems[i];
                var listItemValue = listItem.getAttribute("data-value");
                nutrientsList.push(listItemValue);
            }

            var nutrientsInput = document.getElementById("nutrientIds");
            nutrientsInput.value = nutrientsList.join(",");
        }

        // 주요 기능 카테고리 선택
        function addSelectedCategory() {
            var selectBox = document.getElementById("selectedCategory");
            var selectedOption = selectBox.options[selectBox.selectedIndex];

            // 비활성화된 경우
            if (selectedOption.disabled) {
                return;
            }

            var selectedCategoryList = document.getElementById("selectedCategoryList");

            // 이미 선택된 옵션인지 확인
            var selectedOptionValue = selectedOption.value;
            var selectedItems = selectedCategoryList.getElementsByTagName("li");
            for (var i = 0; i < selectedItems.length; i++) {
                var listItem = selectedItems[i];
                var listItemValue = listItem.getAttribute("data-value");

                // 이미 선택된 옵션인 경우
                if (listItemValue === selectedOptionValue) {
                    return;
                }
            }

            var listItem = document.createElement("li");
            listItem.textContent = selectedOption.textContent;
            listItem.setAttribute("data-value", selectedOptionValue);

            // 삭제 버튼
            var deleteButton = document.createElement("button");
            deleteButton.textContent = "X";
            deleteButton.classList.add("px-1", "ml-3", "cursor-pointer");
            deleteButton.addEventListener("click", function () {
                listItem.remove(); // 항목 삭제
                updateCategoriesInput();
            });

            var spaceSpan = document.createElement("span");

            listItem.appendChild(spaceSpan);
            listItem.appendChild(deleteButton);
            selectedCategoryList.appendChild(listItem);
            updateCategoriesInput();
        }

        function updateCategoriesInput() {
            var selectedCategoryList = document.getElementById("selectedCategoryList");
            var selectedItems = selectedCategoryList.getElementsByTagName("li");
            var categoryList = [];

            for (var i = 0; i < selectedItems.length; i++) {
                var listItem = selectedItems[i];
                var listItemValue = listItem.getAttribute("data-value");
                categoryList.push(listItemValue);
            }

            console.log(categoryList);

            var categoriesInput = document.getElementById("categoryIds");
            categoriesInput.value = categoryList.join(",");
        }

        function productRequestDto__submit(form, event) {
            form.name.value = form.name.value.trim();

            if (form.name.value.length === 0) {
                toastWarning("상품명을 입력해주세요.");
                form.name.focus();
                return;
            }

            form.description.value = form.description.value.trim();

            if (form.description.value.length === 0) {
                toastWarning("상품 설명을 입력해주세요.");
                form.description.focus();
                return;
            }

            form.price.value = form.price.value.trim();

            if (form.price.value === "") {
                toastWarning("상품 가격을 입력해주세요.");
                form.price.focus();
                return;
            }

            form.stock.value = form.stock.value.trim();

            if (form.stock.value === "") {
                toastWarning("상품 재고를 입력해주세요.");
                form.stock.focus();
                return;
            }

            updateNutrientsInput();
            updateCategoriesInput();

            var selectedNutrientList = document.getElementById("selectedNutrientList");
            var selectedNutrientItems = selectedNutrientList.getElementsByTagName("li");
            if (selectedNutrientItems.length === 0) {
                toastWarning("주요 성분을 선택해주세요.");
                return;
            }

            var selectedCategoryList = document.getElementById("selectedCategoryList");
            var selectedCategoryItems = selectedCategoryList.getElementsByTagName("li");
            if (selectedCategoryItems.length === 0) {
                toastWarning("주요 기능을 선택해주세요.");
                return;
            }

            var fileInput = document.getElementById('imageFile');
            var fileName = fileInput.value;

            if (fileName === "") {
                toastWarning('사진을 등록해주세요.');
                return;
            }
            
            if (fileName !== "") {
                var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;

                if (!allowedExtensions.exec(fileName)) {
                    toastWarning('첨부 파일의 확장자는 JPG, JPEG, PNG, GIF만 가능합니다.');
                    fileInput.value = '';
                    return;
                }
            }

            // 폼 제출을 막음
            event.preventDefault();

            // 폼 발송
            form.submit();
        }
    </script>



</main>
</body>

</html>