<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>메인</title>
</head>

<body>
<main layout:fragment="main">
    <div class="hero-content flex flex-col my-10 w-[32rem]">

        <div class="flex flex-col gap-5 w-full max-w-md mb-10">
            <div class="border border-gray-200 p-32 text-center">
                상품 이미지
            </div>

            <div class="flex flex-col justify-start w-full gap-2">
                <h3 class=" text-xl" th:text="${productResponse.seller.name}"></h3>
                <h1 class=" text-3xl font-bold" th:text="${productResponse.name}"></h1>
            </div>
            <div class="flex justify-end w-full">
                <span class="text-2xl font-bold"
                      th:text="${#numbers.formatInteger(productResponse.price, 0, 'COMMA') + '원'}"></span>
            </div>
            <div class="divider !my-2"></div>
            <form th:action="@{|/cart/add|}" method="POST"  onsubmit="CartProductRequest__submit(this, event); return false;">
                <input type="hidden" id="productId" name="productId" th:value="${productResponse.id}">
                <div class="flex justify-between items-center">
                    <div class="flex gap-3 justify-center items-center">
                        <button class="badge badge-ghost badge-lg" type="button" onclick="increaseQuantity()">+</button>
                        <label for="quantity">수량</label>
                        <input type="number" id="quantity" name="quantity" min="1" value="1"
                               class="input input-bordered  input-sm w-16" required>
                        <button class="badge badge-ghost badge-lg" type="button" onclick="decreaseQuantity()">-</button>
                    </div>
                    <button class="btn " type="submit">장바구니 담기</button>
                </div>

            </form>
            <div class="divider !my-2"></div>
            <div class="card bg-base-100 border border-gray-200">
                <div class="card-body">
                    <h2 class="card-title mb-2">주요 영양성분</h2>
                    <div th:each="nutrient, loop : ${productResponse.nutrients}">
                        <p th:text="${nutrient.name}"></p>
                    </div>
                </div>
            </div>

            <div class="card bg-base-100 border border-gray-200">
                <div class="card-body">
                    <h2 class="card-title mb-2">주요 기능</h2>
                    <div th:each="category, loop : ${productResponse.categories}">
                        <p th:text="${category.name}"></p>
                    </div>
                </div>
            </div>

            <div class="card bg-base-100 border border-gray-200">
                <div class="card-body">
                    <h2 class="card-title mb-2">상품 상세 설명</h2>
                    <span th:text="${productResponse.description}"></span>
                </div>
            </div>

            <div sec:authorize="isAuthenticated()">
                <div th:if="${productResponse.seller.id == @rq.member.id}">
                    <a th:href="@{|/product/update/${productResponse.id}|}"
                       class="btn btn-success btn-outline flex gap-1">
                        수정하기
                    </a>
                    <a class="btn btn-success btn-outline flex gap-1"
                       href="javascript:;"
                       onclick="if ( confirm('상품을 삭제하시겠습니까?') ) $(this).next().submit();">
                        삭제하기</a>
                    <form hidden th:action="@{|/product/delete/${productResponse.id}|}"
                          method="POST">
                        <input type="hidden" name="_method" value="delete">
                    </form>
                </div>
            </div>

        </div>
    </div>

    <script>
        function increaseQuantity() {
            var quantityInput = document.getElementById("quantity");
            var currentQuantity = parseInt(quantityInput.value);
            var newQuantity = currentQuantity + 1;
            quantityInput.value = newQuantity;
        }

        function decreaseQuantity() {
            var quantityInput = document.getElementById("quantity");
            var currentQuantity = parseInt(quantityInput.value);
            var newQuantity = currentQuantity - 1;
            if (newQuantity < 1) {
                newQuantity = 1;
            }
            quantityInput.value = newQuantity;
        }

        function CartProductRequest__submit(form, event) {
            // 수량 선택 값 가져오기
            var quantityInput = document.getElementById("quantity");
            var quantity = parseInt(quantityInput.value);

            // 유효성 검사: 수량이 1 이상인지 확인
            if (quantity < 1) {
                toastWarning("수량은 1 이상이어야 합니다.");
                return;
            }

            form.submit();
        }
    </script>
</main>
</body>

</html>
