spring:
  profiles:
    active: dev
    include: secret
  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: '${custom.kakao.clientId}'
            scope:
            client-name: Kakao
            authorization-grant-type: authorization_code
            redirect-uri: '${custom.site.baseUrl}/{action}/oauth2/code/{registrationId}'
            client-authentication-method: POST
          naver:
            client-id: '${custom.naver.clientId}'
            client-secret: '${custom.naver.secret-key}'
            scope:
            client-name: Naver
            authorization-grant-type: authorization_code
            redirect-uri: '${custom.site.baseUrl}/{action}/oauth2/code/{registrationId}'
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response
  thymeleaf:
    enabled: true
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        use_sql_comments: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: '${custom.mail.username}'
    password: '${custom.mail.password}'
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
logging:
  level:
    root: INFO
    com.mypill: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE
    org.hibernate.orm.jdbc.extract: TRACE
server:
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
custom:
  survey:
    startMaxLength: 3
    startMinLength : 1
    completeMaxLength : 9 #최대 질문값이 3(카테고리최대값)*3(질문선택최대값) = 9
    completeMinLength : 1
  order:
    maxOrderNameLength : 20
  address:
    maxAddressCount : 5
  site:
    name: 'MyPill'
    baseUrl: http://localhost