<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>영양제 등록하기</title>
</head>

<body>
<main layout:fragment="main">

    <div class="hero-content flex flex-col mb-10 2 w-[32rem] mt-5 max-w-lg">
        <h1 class="text-2xl text-center font-bold my-10"> 나의 영양제 등록하기
        </h1>

        <form th:action method="POST" class="flex flex-col gap-4" onsubmit="myPillRequestDto__submit(this, event); return false;">
            <input type="hidden" id="id" name="id" th:value="${@rq.member.id}">
            <div>
                <label for="name" class="block text-gray-700 font-bold mb-2">영양제 이름</label>
                <input type="text" id="name" name="name" class="shadow input-success border rounded py-2 px-3  focus:outline-none focus:shadow-outline">
            </div>

            <div class="mb-4">
                <div class="form-control">
                    <label class="block text-gray-700 font-bold mb-2">복용 시간</label>
                    <input type="time" name="time" class="input input-bordered input-success" />
                </div>
            </div>

            <button type="submit" class="btn btn-success">
                등록하기
            </button>

            <a href="/usr/diary/list" class="btn btn-success">
                목록가기
            </a>
        </form>
    </div>


    <script>

        function myPillRequestDto__submit(form, event) {
            form.name.value = form.name.value.trim();

            if (form.name.value.length === 0) {
                toastWarning("영양제명을 입력해주세요.");
                form.name.focus();
                return;
            }

            form.time.value = form.time.value.trim();

            if (form.time.value == "") {
                toastWarning("섭취 시간을 선택해주세요.");
                form.time.focus();
                return;
            }

            // 폼 제출을 막음
            event.preventDefault();

            // 폼 발송
            form.submit();
        }
    </script>


</main>
</body>
</html>