<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>복약 관리</title>
</head>

<body>
<main layout:fragment="main">
    <div class="hero-content flex flex-col justify-center my-10 w-full ">
        <h1 class="text-2xl text-center font-bold"> 영양제 정보 💊</h1>
        <div class="flex justify-around gap-5">
            <div class="w-1/2">
                <a href="/usr/diary/list" class="btn btn-block btn-success">영양제 목록</a>
            </div>
            <div class="w-1/2">
                <a href="/usr/diary/todolist" class="btn btn-block btn-success">체크 리스트</a>
            </div>
        </div>

        <div class="flex justify-center my-10">
            <div class="w-full max-w-md bg-white rounded-lg shadow-lg p-6">
                <div class="space-y-4">
                    <h1 class="text-2xl font-bold">영양제명</h1>
                    <h3 class="text-lg font-bold text-gray-900" th:text="${diary.name}"></h3>
                    <dl class="grid grid-cols-2 gap-4">
                        <div>
                            <dt class="text-sm font-medium leading-6 text-gray-900">복용 시간</dt>
                            <dd class="mt-1 text-sm leading-6 text-gray-700" th:text="${diary.time}"></dd>
                        </div>
                        <div>
                            <dt class="text-sm font-medium leading-6 text-gray-900">종류</dt>
                            <dd class="mt-1 text-sm leading-6 text-gray-700" th:text="${diary.type}"></dd>
                        </div>
                        <div>
                            <dt class="text-sm font-medium leading-6 text-gray-900">메모</dt>
                            <dd class="mt-1 text-sm leading-6 text-gray-700" th:text="${diary.memo}"></dd>
                        </div>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>

