<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>영양제 관리</title>
</head>

<body>
<main layout:fragment="main">

    <div class="hero-content flex flex-col justify-center my-10 w-full ">
        <h1 class="text-2xl text-center font-bold "> 나의 영양제 관리 🗒️
        </h1>
        <div class="flex justify-center items-center w-full" th:each="diary:${diaries}">
            <div tabindex="0" class="collapse collapse-close border border-base-300 bg-base-200">
                <a class="collapse-title text-xl font-medium" th:text="${diary.name}" th:href="@{/usr/diary/detail/{id}(id=${diary.id})}">
                </a>
            </div>
        </div>
        <div>
            <a href="/usr/diary/create" class="btn btn-block btn-success">영양제 등록하러 가기</a>
        </div>
    </div>


</main>
</body>
</html>