<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>회원 정보</title>
    <meta name="csrf-token" th:content="${_csrf.token}"> <!-- CSRF 토큰을 메타 태그로 포함 -->
</head>

<body>
<main layout:fragment="main">
    <script>
        function editName() {

            const nameElement = document.getElementById('name');
            const nameEditFormElement = document.getElementById('nameEditForm');

            const name = nameElement.innerText;
            const nameEditInput = nameEditFormElement.querySelector('textarea');
            nameEditInput.value = name;

            nameElement.style.display = 'none';
            nameEditFormElement.style.display = 'block';

            $(document).ready(function () {
                $('#nameEdit').on('keyup', function () {
                    if ($(this).val().length > 5) {
                        toastWarning("이름은 최대 5자까지 가능합니다.");
                        $(this).val($(this).val().substring(0, 5));
                    }
                });
            });
        }

        function saveName() {
            const nameEditFormElement = document.getElementById('nameEditForm');
            const nameEditInput = nameEditFormElement.querySelector('textarea');
            const newName = nameEditInput.value;
            if (newName.length < 2) {
                toastWarning("이름은 최소 2자 이상이어야 합니다.");
                return;
            }

            const url = '/usr/consumer/name/update';
            const csrfToken = $('meta[name=csrf-token]').attr('content'); // 메타 태그에서 CSRF 토큰 가져오기

            // Ajax 요청을 사용하여 댓글 수정 API 호출
            $.ajax({
                type: 'post',
                url: url,
                headers: {'X-CSRF-TOKEN': csrfToken}, // 요청 헤더에 CSRF 토큰 추가},
                data: {
                    newName: newName,
                },
                success: function (data) {
                    // 요청 결과를 받아와서 동적으로 댓글 내용 업데이트
                    if (data === "success") {
                        const nameElement = document.getElementById('name');
                        nameElement.innerText = newName;
                        nameElement.style.display = 'block';
                        nameEditFormElement.style.display = 'none';
                        console.log("success");
                    } else {
                        toastWarning(data.errorMsg);
                    }
                },
                error: function (error) {
                    console.error('Error:', error);
                }
            });
        }

        function cancelEditName() {
            const nameElement = document.getElementById('name');
            const nameEditFormElement = document.getElementById('nameEditForm');
            // 수정 취소 시, 댓글 내용 보여주는 부분을 숨기고 수정 폼을 숨김
            nameElement.style.display = 'block';
            nameEditFormElement.style.display = 'none';
        }
    </script>
    <div class="hero-content flex flex-col mb-10 w-full">
        <div class="flex flex-row items-center">
            <i class="fa-solid fa-circle-user fa-2xl mr-2"></i>
            <h1 class="text-4xl font-bold">
                회원 정보
            </h1>
        </div>
        <div class="max-w-2xl w-full px-4 mt-4">
            <div class="form-control flex">
                <div class="flex-row">
                    <span class="text-xl">회원 유형</span>
                </div>
                <div class="card bg-base-100 border border-gray-200 mt-2">
                    <div class="card-body whitespace-normal"
                         style="word-wrap: break-word; word-break: break-all; padding: 1rem;">
                        <span class="text-sm">일반 회원</span>
                    </div>
                </div>
            </div>
            <div class="form-control flex mt-4">
                <div class="flex flex-row justify-between items-center">
                    <span class="text-xl mr-4">아이디</span>
                </div>
                <div class="card bg-base-100 border border-gray-200 mt-2">
                    <div class="card-body whitespace-normal"
                         style="word-wrap: break-word; word-break: break-all; padding: 1rem;">
                        <span class="text-sm" th:text="${@rq.member.username}">
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-control flex mt-4">
                <div class="flex flex-row justify-between items-center">
                    <span class="text-xl mr-4">이름</span>
                    <button class="btn btn-success btn-outline flex gap-1 btn-xs"
                            onclick="editName(this);">
                        수정하기
                    </button>
                </div>
                <div class="card bg-base-100 border border-gray-200 mt-2">
                    <div class="card-body whitespace-normal"
                         style="word-wrap: break-word; word-break: break-all; padding: 1rem;">
                        <span class="text-sm" id="name"
                              th:text="${@rq.member.name}">
                        </span>
                        <div id="nameEditForm" class="comment-edit-form" style="display: none;">
                            <div class="relative">
                                <textarea
                                        class="input input-bordered w-full rounded py-2 px-3 focus:outline-none focus:shadow-outline"
                                        id="nameEdit" name="nameEdit" minlength="2"></textarea>
                            </div>
                            <button class="btn btn-success"
                                    onclick="saveName(this)">저장
                            </button>
                            <button class="btn btn-danger"
                                    onclick="cancelEditName(this)">취소
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-control flex mt-4">
                <div class="flex flex-row justify-between items-center">
                    <span class="text-xl mr-4">이메일</span>
                </div>
                <div class="card bg-base-100 border border-gray-200 mt-2">
                    <div class="card-body whitespace-normal"
                         style="word-wrap: break-word; word-break: break-all; padding: 1rem;">
                        <span class="text-sm" th:text="${@rq.member.email}">
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-row gap-4 justify-between">
            <a href="/usr/member/deleteAccount" class="btn btn-accent flex-grow-0 flex-shrink-0 w-4/6"
               onclick="return confirm('정말로 회원을 탈퇴하시겠습니까?')">
                회원 탈퇴
            </a>
            <a href="javascript:history.back()" class="btn btn-success btn-outline">
                돌아가기
            </a>
        </div>
    </div>
</main>
</body>

</html>