<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>주문 조회</title>
</head>

<body>
<main layout:fragment="main">
    <div class="hero-content flex flex-col my-10 w-[32rem]">
        <h1 class="text-2xl font-bold">
            주문 조회
        </h1>

        <div class="flex flex-col w-full max-w-md mb-10 mt-5 px-5">
            <div th:if="${orders.size() == 0}" class="flex justify-center my-16">
                <span >주문 내역이 없습니다.</span>
            </div>
            <div th:each="order, loop : ${orders}">
                <a th:href="@{|/order/detail/${order.orderId}|}">
                    <div class="bg-base-100 border-b border-gray-200 p-5 ">
                        <div class="flex flex-col gap-1">
                            <span th:text="${#temporals.format(order.payment.payDate, 'yyyy-MM-dd')}"></span>
                            <div th:text="${order.orderNumber}"
                               class="font-bold "></div>
                            <h3 th:text="${order.name}"></h3>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>


</main>
</body>

</html>
