<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
  <title>질문 등록</title>
</head>

<body>
<main layout:fragment="main">


  <div class="hero-content flex flex-col my-10">
    <h1 class="text-4xl font-bold">
      질문 등록하기
    </h1>

    <form th:action method="POST" class="flex flex-col gap-4" onsubmit="CreateForm__submit(this, event); return false;">
      <div>
        <label for="title" class="block text-gray-700 font-bold mb-2">제목</label>
        <input type="text" id="title" name="title" class="shadow input-accent border rounded py-2 px-3  focus:outline-none focus:shadow-outline">
      </div>

      <div class="flex flex-col">
        <span class="text-gray-700 font-bold mb-2">내용</span>
        <textarea id="content" name="content" placeholder="질문사항을 자세히 입력해주세요."
                  class="shadow textarea-accent border rounded py-2 px-3  focus:outline-none focus:shadow-outline">
        </textarea>
      </div>

      <button type="submit" class="btn btn-accent">질문 등록</button>
    </form>
  </div>


  <script>
    function CreateForm__submit(form, event) {
      form.title.value = form.title.value.trim();

      if (form.title.value.length === 0) {
        toastWarning("제목을 입력해주세요.");
        form.title.focus();
        return;
      }

      form.content.value = form.content.value.trim();

      if (form.content.value.length === 0) {
        toastWarning("내용을 입력해주세요.");
        form.content.focus();
        return;
      }

      // 폼 발송
      form.submit();
    }
  </script>

</main>
</body>

</html>