<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>Q&A 게시판</title>
</head>

<body>
<main layout:fragment="main">
    <div class="hero-content flex flex-col my-10">
        <h1 class="text-4xl font-bold">
            Q&A
        </h1>
        <span class="text-lg">영양제 복용, 건강관리 등에 대해 물어보세요!</span>

        <div class="mb-9 sm:mb-16" th:each="question, loop : ${questionList}">
            <div class="overflow-hidden">
                <ul class="divide-y divide-gray-500/30 dark:divide-gray-500/70">
                    <li class="flex flex-col bg-green-50 py-4 px-2 dark:bg-gray-700 sm:px-2.5">
                        <div class="flex shrink-0 items-center gap-x-1">
                            <a href="/users/157206">
                                <img class="h-5 w-5 rounded-full" src="" alt="프로필 사진">
                            </a>
                            <a class="truncate pl-1 text-xs font-normal text-gray-700 hover:text-blue-500 dark:text-gray-300 dark:hover:text-blue-200 sm:text-sm" href="/users/157206">작성자</a>
                            <div class="inline-flex items-center font-normal text-gray-700 dark:text-gray-300">
                                <span class="mx-0.5 text-xs sm:text-sm">·</span>
                                <svg class="h-2.5 w-2.5 sm:h-3 sm:w-3" width="9" height="12" viewBox="0 1 9 12" fill="none" xmlns="http://www.w3.org/2000/svg"><title>bolt icon</title><path fill-rule="evenodd" clip-rule="evenodd" d="M5.21535 0.575533C5.4443 0.647704 5.6 0.86003 5.6 1.10009V3.85009L7.8 3.85009C8.00508 3.85009 8.19313 3.96419 8.28783 4.14609C8.38254 4.328 8.36818 4.54748 8.25057 4.71549L4.40057 10.2155C4.26291 10.4122 4.0136 10.4968 3.78464 10.4246C3.55569 10.3525 3.4 10.1401 3.4 9.90009L3.4 7.15009H1.2C0.994914 7.15009 0.806866 7.03599 0.712157 6.85408C0.617448 6.67218 0.631811 6.45269 0.749418 6.28468L4.59942 0.784684C4.73708 0.588021 4.98639 0.503362 5.21535 0.575533Z" fill="currentColor" data-darkreader-inline-fill="" style="--darkreader-inline-fill: currentColor;"></path></svg><span class="text-xs sm:text-sm">720</span>
                            </div>
                            <span class="text-xs text-gray-700 dark:text-gray-300 sm:text-sm">·</span>
                            <span class="text-xs text-gray-700 dark:text-gray-300 sm:text-sm">8일 전</span>
                        </div>
                        <div class="my-2">
                            <a class="line-clamp-1 w-fit truncate whitespace-normal break-all text-sm font-semibold leading-6 text-gray-900 hover:text-blue-500 dark:text-gray-100 dark:hover:text-blue-200 sm:text-base" th:href="@{|/usr/question/detail/${question.id}|}" th:text="${question.title}"></a>
                        </div>



</main>
</body>

</html>
