<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>메인</title>
    <meta name="csrf-token" th:content="${_csrf.token}"> <!-- CSRF 토큰을 메타 태그로 포함 -->
</head>

<body>
<main layout:fragment="main">
    <div class="hero-content flex flex-col mb-10 2 w-[32rem] max-w-lg mt-5 !mb-28">
        <h1 class="text-2xl font-bold mb-4">
            <span class="font-bold" style="white-space: pre-wrap;"
                  th:text="${post.title}"></span>
        </h1>
        <div class="flex flex-col gap-5 w-full max-w-md mb-10 px-5">

            <div class="card bg-base-100 border border-gray-200">
                <div class="card-body">
                    <div class="flex w-full mt-2 whitespace-normal"
                         style="word-wrap: break-word; word-break: break-all;">
                        <span style="white-space: pre-wrap;"
                              th:text="${post.content}"></span>
                    </div>
                    <div class="flex flex-col gap-1 items-end">
                        <span class="text-gray-500 text-sm" style="word-wrap: break-word; word-break: break-all;"
                              th:text="${#strings.length(post.poster.name) >= 2 ?
                           post.poster.name.substring(0, 1) + '*' + post.poster.name.substring(2) : post.poster.name}">
                        </span>
                        <span class="text-gray-500 text-sm"
                              th:text="'작성 : ' + ${#temporals.format(post.createDate, 'yy-MM-dd hh:mm')}"></span>
                    </div>
                    <th:block th:if="${@rq.isLogin()}" >
                        <div th:if="${post.poster.id}==${@rq.member.id}" class="flex justify-end gap-2">
                            <a th:href="@{/usr/post/update/{id}(id=${post.id})}"
                               class="btn  btn-outline flex gap-1 btn-xs">수정</a>
                            <a class="btn  btn-outline flex gap-1 btn-xs" href="javascript:"
                               onclick="if ( confirm('게시글을 삭제하시겠습니까?') ) $(this).next().submit();">
                                삭제</a>
                            <form hidden th:action="@{/usr/post/delete/{id}(id=${post.id})}" method="POST">
                                <input type="hidden" name="_method" value="delete">
                            </form>
                        </div>
                    </th:block>
                </div>
            </div>
            <form id="CommentRequest" th:action="@{/usr/comment/create/{id}(id=${post.id})}" method="POST"
                  class="flex flex-col gap-4 w-full whitespace-normal mt-3"
                  onsubmit="CreateCommentForm__submit(this); return false;">
                <label class="block text-gray-700 font-bold mb-1" for="newContent">
                    답변 작성하기
                </label>
                <div class="relative">
                    <textarea id="newContent" name="newContent" placeholder="답변을 입력해주세요." value="newContent"
                              class="input input-bordered w-full rounded py-2 px-3 focus:outline-none focus:shadow-outline"
                              style="height: 200px;"></textarea>
                    <div id="newContentCount" class="absolute right-5 bottom-5">(0 / 1000)</div>
                </div>
                <div class="flex flex-row gap-2 justify-end">
                    <a href="javascript:history.back()" class="btn h-full">
                        돌아가기
                    </a>
                    <button type="submit" class="btn btn-success w-1/6">등록</button>
                </div>
            </form>


            <div class="flex-row mt-10">
                <i class="fa-regular fa-comment-dots fa-xl"></i>
                <span class="text-xl font-bold">등록된 답변</span>
            </div>
            <div class="divider !my-1"></div>
            <div th:if="${post.getCommentCnt() == 0}" class="text-center mt-2">
                등록된 답변이 없습니다.
            </div>
            <div th:each="comment : ${post.getAvailableComments()}" class="flex flex-col gap-1">
                <div class="card bg-base-100 border border-gray-200 mt-2">
                    <div class="card-body whitespace-normal"
                         style="word-wrap: break-word; word-break: break-all;">
                        <span
                              style="white-space: pre-wrap;"
                              th:id="'commentContent-' + ${comment.id}"
                              th:text="${comment.content}"></span>
                        <div th:id="'commentEditForm-' + ${comment.id}" class="comment-edit-form"
                             style="display: none;">
                            <div class="relative">
                                <textarea
                                        class="input input-bordered w-full rounded py-2 px-3 focus:outline-none focus:shadow-outline"
                                        th:id="'commentEdit-' + ${comment.id}" name="commentEdit"
                                        style="height: 100px;"></textarea>
                                <div th:id="'commentEditCount-' + ${comment.id}" class="absolute right-5 bottom-5">
                                    (0/1000)
                                </div>
                            </div>
                            <div class="flex justify-end gap-2">
                                <button class="btn btn-success btn-sm"
                                        th:attr="onclick='saveComment(this, ' + ${comment.id} + ');'">저장
                                </button>
                                <button class="btn btn-danger btn-sm"
                                        th:attr="onclick='cancelEditComment(this, ' + ${comment.id} + ');'">취소
                                </button>
                            </div>
                        </div>
                        <div class="flex flex-col gap-1 items-end">
                        <span class="text-gray-500 text-sm" style="word-wrap: break-word; word-break: break-all;"
                              th:text="${#strings.length(comment.writer.name) >= 2 ?
                           comment.writer.name.substring(0, 1) + '*' + comment.writer.name.substring(2) : comment.writer.name}">
                        </span>
                            <span class="text-gray-500 text-sm"
                                  th:text="'작성 : ' + ${#temporals.format(comment.modifyDate, 'yy-MM-dd hh:mm')}"></span>
                        </div>
                        <th:block th:if="${@rq.isLogin()}" >
                            <div th:if="${comment.writer.id}==${@rq.member.id}" class="flex justify-end gap-2">
                                <button class="btn btn-outline flex gap-1 btn-xs"
                                        th:attr="onclick='editComment(this, ' + ${comment.id} + ');'">
                                    수정
                                </button>
                                <a class="btn btn-outline flex gap-1 btn-xs" href="javascript:"
                                   onclick="if ( confirm('댓글을 삭제하시겠습니까?') ) $(this).next().submit();">
                                    삭제</a>
                                <form hidden
                                      th:action="@{/usr/comment/delete/{postId}/{commentId}(commentId=${comment.id}, postId=${post.id})}"
                                      method="POST"></form>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function editComment(button, commentId) {

            const commentContentElement = document.getElementById('commentContent-' + commentId);
            const commentEditFormElement = document.getElementById('commentEditForm-' + commentId);

            // 기존 댓글 내용을 가져와서 수정 폼에 설정
            const commentContent = commentContentElement.innerText;
            const commentEditInput = commentEditFormElement.querySelector('textarea');
            commentEditInput.value = commentContent;

            // 댓글 내용을 보여주는 부분을 숨기고 수정 폼을 보여줌
            commentContentElement.style.display = 'none';
            commentEditFormElement.style.display = 'block';

            $(document).ready(function () {
                $('#commentEdit-' + commentId).on('keyup', function () {
                    $('#commentEditCount-' + commentId).html("(" + $(this).val().length + " / 1000)");

                    if ($(this).val().length > 1000) {
                        toastWarning("댓글은 최대 1000자까지 작성 가능합니다.");
                        $(this).val($(this).val().substring(0, 1000));
                        $('#commentEditCount-' + commentId).html("(1000 / 1000)");
                    }
                });
            });
        }

        function saveComment(button, commentId) {
            const commentEditFormElement = document.getElementById('commentEditForm-' + commentId);
            const commentEditInput = commentEditFormElement.querySelector('textarea');
            const newContent = commentEditInput.value;
            const responseCode = undefined;
            const errorMsg = undefined;

            const url = '/usr/comment/update/' + commentId;
            const csrfToken = $('meta[name=csrf-token]').attr('content'); // 메타 태그에서 CSRF 토큰 가져오기

            // Ajax 요청을 사용하여 댓글 수정 API 호출
            $.ajax({
                type: 'post',
                url: url,
                headers: {'X-CSRF-TOKEN': csrfToken}, // 요청 헤더에 CSRF 토큰 추가},
                data: {
                    newContent: newContent,
                    responseCode: responseCode,
                    errorMsg: errorMsg
                },
                success: function (data) {
                    // 요청 결과를 받아와서 동적으로 댓글 내용 업데이트
                    if (data.responseCode === "0") {
                        const commentContentElement = document.getElementById('commentContent-' + commentId);
                        commentContentElement.innerText = data.newContent;
                        commentContentElement.style.display = 'block';
                        commentEditFormElement.style.display = 'none';
                        console.log("success");
                    } else {
                        toastWarning(data.errorMsg);
                    }
                },
                error: function (error) {
                    console.error('Error:', error);
                }
            });
        }

        function cancelEditComment(button, commentId) {
            const commentContentElement = document.getElementById('commentContent-' + commentId);
            const commentEditFormElement = document.getElementById('commentEditForm-' + commentId);
            // 수정 취소 시, 댓글 내용 보여주는 부분을 숨기고 수정 폼을 숨김
            commentContentElement.style.display = 'block';
            commentEditFormElement.style.display = 'none';
        }
    </script>
    <script>
        $(document).ready(function () {
            $('#newContent').on('keyup', function () {
                $('#newContentCount').html("(" + $(this).val().length + " / 1000)");

                if ($(this).val().length > 1000) {
                    toastWarning("댓글은 최대 1000자까지 작성 가능합니다.");
                    $(this).val($(this).val().substring(0, 1000));
                    $('#newContentCount').html("(1000 / 1000)");
                }
            });
        });

        function CreateCommentForm__submit(form) {
            form.newContent.value = form.newContent.value.trim();

            if (form.newContent.value.length === 0) {
                toastWarning("댓글 내용을 입력해주세요.");
                form.newContent.focus();
                return;
            }
            // 폼 발송
            form.submit();
        }

    </script>


</main>
</body>

</html>
