<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>메인</title>
    <script>
        function CreateCommentForm__submit(form) {
            form.newComment.value = form.newComment.value.trim();

            if (form.newComment.value.length === 0) {
                toastWarning("댓글 내용을 입력해주세요.");
                form.newComment.focus();
                return;
            }
            // 폼 발송
            form.submit();
        }
    </script>
</head>

<body>
<main layout:fragment="main">
    <div class="hero-content flex flex-col w-full">
        <h1 class="text-4xl font-bold mb-4">
            게시글 상세
        </h1>

        <div class="flex flex-col gap-5 w-full max-w-md mb-10">
            <div class="flex justify-between items-center ml-4">
                <div>
                    <i class="fa-solid fa-circle-user fa-xl"></i>
                    <span class="text-xl" th:text="${post.poster.name}"></span>
                </div>
                <div>
                    <a th:href="@{/usr/post/update/{id}(id=${post.id})}"
                       class="btn btn-success btn-outline flex gap-1 btn-xs">
                        수정하기
                    </a>
                    <a class="btn btn-success btn-outline flex gap-1 btn-xs" href="javascript:"
                       onclick="if ( confirm('게시글을 삭제하시겠습니까?') ) $(this).next().submit();">
                        삭제하기</a>
                    <form hidden th:action="@{/usr/post/delete/{id}(id=${post.id})}" method="POST">
                        <input type="hidden" name="_method" value="delete">
                    </form>
                </div>
            </div>
            <div class="card bg-base-100 border border-gray-200">
                <div class="card-body">
                    <div class="flex w-full whitespace-normal">
                        <span class="font-bold" style="word-wrap: break-word;" th:text="${post.title}"></span>
                    </div>
                    <div class="divider" style="margin-top:1px"></div>
                    <div class="flex w-full text-sm mt-2 whitespace-normal"
                    style="word-wrap: break-word; word-break: break-all;">
                        <span class="font-bold" th:text="${post.content}"></span>
                    </div>
                </div>
            </div>

            <div class="flex-row mt-4">
                <i class="fa-regular fa-comment-dots fa-2xl"></i>
                <span class="text-2xl">답변</span>
            </div>
            <div class="divider !my-1"></div>
            <div th:if="${post.getCommentCnt() == 0}">
                등록된 댓글이 없습니다.
            </div>
            <div th:each="comment : ${post.comments}">
                <div class="flex justify-between items-center">
                    <div>
                        <i class="fa-regular fa-circle-user fa-xl ml-4"></i>
                        <span class="text-xl" th:text="${comment.post.poster.name}"></span>
                    </div>
                    <div>
                        <a class="btn btn-success btn-outline flex gap-1 btn-xs">
                            수정하기
                        </a>
                        <a class="btn btn-success btn-outline flex gap-1 btn-xs">
                            삭제하기</a>
                        <form hidden th:action="@{/usr/post/delete/{id}(id=${post.id})}" method="POST">
                            <input type="hidden" name="_method" value="delete">
                        </form>
                    </div>
                </div>
                <div class="card bg-base-100 border border-gray-200 mt-2">
                    <div class="card-body whitespace-normal"
                         style="word-wrap: break-word; word-break: break-all;">
                        <span class="text-sm" th:text="${comment.content}"></span>
                    </div>
                </div>
            </div>

            <form id="CommentRequest" th:action="@{/usr/comment/create/{id}(id=${post.id})}" method="POST"
                  class="flex flex-col gap-4 w-full" onsubmit="CreateCommentForm__submit(this); return false;">
                <div class="flex flex-col whitespace-normal">
                    <label class="mb-2 ml-2">새 댓글 작성하기</label>
                    <textarea type="text" id="newComment" name="newComment" placeholder="댓글을 입력해주세요."
                              class="input input-bordered w-full rounded py-2 px-3 focus:outline-none focus:shadow-outline"
                              style="height: 200px;" value="newComment"></textarea>
                </div>
                <button type="submit" class="btn btn-accent">댓글 등록하기</button>
            </form>

        </div>
    </div>
</main>
</body>

</html>
