<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>메인</title>
</head>

<body>
<main layout:fragment="main">
    <div class="hero-content flex flex-col my-4 w-[32rem]">

        <div class="flex flex-col gap-5 w-full max-w-md mb-10">
            <div class="flex justify-between items-center ml-4">
                <div>
                    <i class="fa-solid fa-circle-user fa-xl"></i>
                    <span class="text-xl" th:text="${post.poster.name}"></span>
                </div>
                <div>
                    <a th:href="@{/usr/post/update/{id}(id=${post.id})}"
                       class="btn btn-success btn-outline flex gap-1 btn-xs">
                        수정하기
                    </a>
                    <a class="btn btn-success btn-outline flex gap-1 btn-xs" href="javascript:;"
                       onclick="if ( confirm('게시글을 삭제하시겠습니까?') ) $(this).next().submit();">
                        삭제하기</a>
                    <form hidden th:action="@{/usr/post/delete/{id}(id=${post.id})}" method="POST">
                        <input type="hidden" name="_method" value="delete">
                    </form>
                </div>
            </div>
            <div class="card bg-base-100 border border-gray-200">
                <div class="card-body">
                    <div class="flex w-full">
                        <span class="font-bold" th:text="${post.title}"></span>
                    </div>
                    <div class="divider" style="margin-top:1px"></div>
                    <div class="flex w-full text-sm mt-2">
                        <span class="font-bold" th:text="${post.content}"></span>
                    </div>
                </div>
            </div>

            <div class="flex-row mt-4">
                <i class="fa-regular fa-comment-dots fa-2xl"></i>
                <span class="text-2xl">답변</span>
            </div>
            <div class="divider !my-1"></div>
            <div class="flex justify-between items-center">
                <div>
                    <i class="fa-regular fa-circle-user fa-xl ml-4"></i>
                    <span class="text-xl">답변자1</span>
                </div>
                <div>
                    <a class="btn btn-success btn-outline flex gap-1 btn-xs">
                        수정하기
                    </a>
                    <a class="btn btn-success btn-outline flex gap-1 btn-xs">
                        삭제하기</a>
                    <form hidden th:action="@{/usr/post/delete/{id}(id=${post.id})}" method="POST">
                        <input type="hidden" name="_method" value="delete">
                    </form>
                </div>
            </div>
            <div class="card bg-base-100 border border-gray-200 mt-2">
                <div class="card-body">
                    <span class="text-sm">111</span>
                    <!--                    <div th:each="nutrient, loop : ${post.comments}">-->
                    <!--                        <p th:text="${comment.content}"></p>-->
                    <!--                    </div>-->
                </div>
            </div>
            <div>
                <i class="fa-regular fa-circle-user fa-xl ml-4"></i>
                <span class="text-xl">답변자2</span>
            </div>
            <div class="card bg-base-100 border border-gray-200 mt-2">
                <div class="card-body">
                    <span class="text-sm">222</span>
                    <!--                    <div th:each="nutrient, loop : ${post.comments}">-->
                    <!--                        <p th:text="${comment.content}"></p>-->
                    <!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</main>
</body>

</html>
