<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>Q&A 게시판</title>
</head>

<body>
<main layout:fragment="main">
    <div class="hero-content flex flex-col mb-10 2 w-[32rem] mt-5">
        <div class="flex flex-col justify-center mb-5 gap-1">
            <h1 class="text-2xl font-bold text-center">Q&A</h1>
            <span>영양제 복용, 건강관리 등에 대해 물어보세요!</span>
        </div>
        <div class="flex justify-center mb-5">
            <form th:action="@{/post/list}" class="flex flex-row">
                <div class="flex border border-gray-300" style="border-right:none;">
                    <label for="searchType"></label>
                    <select id="searchType" name="searchType" class="h-full text-sm mx-1">
                        <option value="title">제목</option>
                        <option value="content">내용</option>
                    </select>
                    <label for="keyword"></label>
                    <input type="text" id="keyword" name="keyword" minlength="2" maxlength="10" required
                           class="h-full border-0 pl-2 text-sm" >
                </div>
                <button type="submit" class="btn   btn-outline flex gap-1 btn-xl"
                        style="border-radius:0;">
                    <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                </button>
            </form>
        </div>
        <div class="flex flex-col gap-5 w-full max-w-md mb-10 px-5">
            <table class="table px-5">
                <colgroup>
                    <col style="width: 80%">
                    <col style="width: 10%">
                    <col style="width: 10%">
                </colgroup>
                <thead class="table-dark">
                <tr>
                    <th class="text-center">제목</th>
                    <th class="text-center">작성자</th>
                    <th class="text-center">작성일</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="postRepsonse, loop : ${postResponses}">
                    <td style="max-width: 180px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                        <div class="flex flex-row items-center">
                            <div style="max-width: 180px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                <a th:text="${postRepsonse.post.title}" th:href="@{/post/detail/{id}(id=${postRepsonse.post.id})}"></a>
                            </div>
                            <span class="ml-2"
                                  th:text="${(postRepsonse.post.getCommentCnt() >= 1 ? ' (' + postRepsonse.post.getCommentCnt() + ')' : '')}"></span>
                        </div>
                    </td>
                    <td th:text="${#strings.length(postRepsonse.poster.name) >= 2 ?
                           postRepsonse.poster.name.substring(0, 1) +
                            '*' +
                           postRepsonse.poster.name.substring(2) : postRepsonse.poster.name}"></td>
                    <td th:text="${#temporals.format(postRepsonse.post.createDate, 'MM/dd')}"></td>
                </tr>
                </tbody>
            </table>
            <div class="pagination">
                <ul class="flex justify-center">
                    <li>
                        <a th:if="${page.hasPrevious()} and ${page.number != 0}"
                           th:href="@{/post/list(pageNumber=0, pageSize=${page.size})}"
                           class="text-blue-500 hover:text-blue-700 mr-4">
                            처음
                        </a>
                    </li>
                    <li th:if="${page.hasPrevious()}">
                        <a th:href="@{/post/list(pageNumber=${page.number - 1}, pageSize=${page.size})}"
                           class="text-blue-500 hover:text-blue-700 mr-4">
                            이전
                        </a>
                    </li>
                    <li th:each="pageNum : ${#numbers.sequence(0, page.totalPages - 1)}"
                        th:class="${page.totalPages > 1 and pageNum >= page.number - 2 and pageNum <= page.number + 2} ? 'mr-4' : ''">
                        <a th:if="${page.totalPages > 1 and pageNum >= page.number - 2 and pageNum <= page.number + 2}"
                           th:href="@{/post/list(pageNumber=${pageNum}, pageSize=${page.size})}"
                           class="text-blue-500 hover:text-blue-700 font-bold"
                           th:class="${pageNum == page.number ? 'text-blue-700' : ''}">
                            <span th:text="${pageNum + 1}"></span>
                        </a>
                    </li>
                    <li th:if="${page.hasNext()}">
                        <a th:href="@{/post/list(pageNumber=${page.number + 1}, pageSize=${page.size})}"
                           class="text-blue-500 hover:text-blue-700">
                            다음
                        </a>
                    </li>
                    <li>
                        <a th:if="${page.hasNext()} and ${page.number != page.totalPages - 1}"
                           th:href="@{/post/list(pageNumber=${page.totalPages - 1}, pageSize=${page.size})}"
                           class="text-blue-500 hover:text-blue-700 ml-4">
                            마지막
                        </a>
                    </li>
                </ul>
            </div>
            <div class="flex justify-end">
                <a href="/post/create" class="btn">질문 작성하기</a>
            </div>

        </div>
    </div>
</main>
</body>

</html>
