<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>Q&A 게시판</title>
</head>

<body>
<main layout:fragment="main">
    <div class="hero-content flex flex-col mb-10 w-full items-center">
        <h1 class="text-4xl font-bold">
            Q&A
        </h1>
        <span class="text-lg">영양제 복용, 건강관리 등에 대해 물어보세요!</span>
        <table class="table">
            <colgroup>
                <col style="width: 80%">
                <col style="width: 10%">
                <col style="width: 10%">
            </colgroup>
            <thead class="table-dark">
            <tr>
                <th class="text-center">제목</th>
                <th class="text-center">작성자</th>
                <th class="text-center">작성일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post, loop : ${posts}">
                <td style="max-width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                    <a th:text="${post.title + (post.getCommentCnt() >= 1 ? ' (' + post.getCommentCnt() + ')' : '')}"
                       th:href="@{/usr/post/detail/{id}(id=${post.id})}"></a>
                </td>
                <td th:text="${#strings.length(post.poster.name) >= 2 ?
                           post.poster.name.substring(0, 1) +
                            '*' +
                           post.poster.name.substring(2) : post.poster.name}"></td>
                <td th:text="${#temporals.format(post.createDate, 'MM/dd')}"></td>
            </tr>
            </tbody>
        </table>
        <div class="pagination">
            <ul class="flex justify-center">
                <li>
                    <a th:if="${page.hasPrevious()} and ${page.number != 0}"
                       th:href="@{/usr/post/list(pageNumber=0, pageSize=${page.size})}"
                       class="text-blue-500 hover:text-blue-700 mr-4">
                        First
                    </a>
                </li>
                <li th:if="${page.hasPrevious()}">
                    <a th:href="@{/usr/post/list(pageNumber=${page.number - 1}, pageSize=${page.size})}"
                       class="text-blue-500 hover:text-blue-700 mr-4">
                        Previous
                    </a>
                </li>
                <li th:each="pageNum : ${#numbers.sequence(0, page.totalPages - 1)}"
                    th:class="${page.totalPages > 1 and pageNum >= page.number - 2 and pageNum <= page.number + 2} ? 'mr-4' : ''">
                    <a th:if="${page.totalPages > 1 and pageNum >= page.number - 2 and pageNum <= page.number + 2}"
                       th:href="@{/usr/post/list(pageNumber=${pageNum}, pageSize=${page.size})}"
                       class="text-blue-500 hover:text-blue-700 font-bold"
                       th:class="${pageNum == page.number ? 'text-blue-700' : ''}">
                        <span th:text="${pageNum + 1}"></span>
                    </a>
                </li>
                <li th:if="${page.hasNext()}">
                    <a th:href="@{/usr/post/list(pageNumber=${page.number + 1}, pageSize=${page.size})}"
                       class="text-blue-500 hover:text-blue-700">
                        Next
                    </a>
                </li>
                <li>
                    <a th:if="${page.hasNext()} and ${page.number != page.totalPages - 1}"
                       th:href="@{/usr/post/list(pageNumber=${page.totalPages - 1}, pageSize=${page.size})}"
                       class="text-blue-500 hover:text-blue-700 ml-4">
                        Last
                    </a>
                </li>
            </ul>
        </div>
        <div class="flex flex-row justify-between">
            <form th:action="@{/usr/post/list}" class="flex flex-row">
                <div class="flex border border-gray-300" style="border-right:none;">
                    <label for="searchType"></label>
                    <select id="searchType" name="searchType" class="h-full text-sm"
                            style="border-radius:0;">
                        <option value="title">제목</option>
                        <option value="content">내용</option>
                    </select>
                    <label for="keyword"></label>
                    <input type="text" id="keyword" name="keyword" minlength="2" maxlength="10" required
                           class="h-full border-0 pl-2 text-sm" style="border-radius:0;">
                </div>
                <button type="submit" class="btn btn-success btn-outline flex gap-1 btn-xl"
                        style="border-radius:0;">
                    <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                </button>
            </form>
            <a href="/usr/post/create" class="btn btn-success btn-outline flex gap-1 h-full ml-4"
               style="border-radius:0;">
                글쓰기
            </a>
        </div>
    </div>
</main>
</body>

</html>
