<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>메인</title>
</head>

<body>
<main layout:fragment="main">
    <div class="hero-content flex flex-col my-10 w-[32rem]">
        <h1 class="text-4xl font-bold">
            장바구니
        </h1>

        <div class="flex flex-col gap-5 w-full max-w-md mb-10">

<!--            <div th:if="${cartProducts.size() == 0}"> 비어있음 </div>-->
            <div th:each="cartProduct, loop : ${cartProducts}">
                <a th:href="@{|/product/detail/${cartProduct.product.id}|}"
                   class="card bg-base-100 border border-gray-200 hover:bg-green-100">
                    <div class="card-body">

                        <div class="flex gap-5">
                            <div class="border border-gray-200 p-10">
                                상품이미지
                            </div>
                            <div class="flex flex-col gap-3">
                                <div class="flex flex-col gap-1">
                                    <h3 class=" text-lg" th:text="${cartProduct.product.seller.name}"></h3>
                                    <h1 th:text="${cartProduct.product.name}" class="text-2xl font-bold"></h1>
                                </div>
                                <span class="text-xl font-bold"
                                      th:text="${#numbers.formatInteger(cartProduct.product.price, 0, 'COMMA') + '원'}"></span>
                                <span class="text-xl font-bold"
                                      th:text="'수량' + ${cartProduct.quantity}"></span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>



        </div>
    </div>
</main>
</body>

</html>
