@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

html > body {
    font-family: "Pretendard-Regular";
    text-underline-position: under;
    word-break: keep-all;
}

html > body .label-text {
    font-size: 1rem;
}

.delete-button {
    background-color: lightgray;
    color: #ffffff;
    border: none;
    padding: 0px 10px;
    margin-left: 15px;
    border-radius: 3px;
    cursor: pointer;
}
