<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>판매업체 인증</title>
</head>

<body>
<main layout:fragment="main">
    <div class="hero-content flex flex-col w-[32rem] max-w-lg mt-5">
        <div class="flex flex-col items-center justify-center">
            <h1 class="text-2xl font-bold mb-4">판매업체 인증</h1>
            <span>모든 인증이 완료된 후 상품 등록이 가능합니다.</span>
        </div>
        <div class="flex flex-col gap-5 px-5 mt-10 w-full">
            <span class="text-xl">1. 통신판매 사업자 인증</span>
            <div class="flex flex-col bg-base-100   gap-2">
                <th:block th:if="${@rq.member.businessNumber != null}">
                    <span class="text-blue-500">인증이 완료된 항목입니다.</span>
                </th:block>
                <th:block th:unless="${@rq.member.businessNumber != null}">
                    <span>통신판매 사업자번호를 입력하세요</span>
                    <form th:action="@{/seller/brnoCertificate}" method="POST" class="flex gap-3 flex-grow">
                        <input type="text" name="businessNumber" placeholder="숫자만 입력해주세요"
                               class="input input-bordered w-3/4"/>
                        <button class="btn btn-accent hover:bg-gray-300 " type="submit">
                            제출
                        </button>
                    </form>
                </th:block>
            </div>
        </div>
        <div class="flex flex-col gap-5 px-5 mt-10 w-full">
            <span class="text-xl">2. 건강기능식품 판매업체 인증</span>
            <div class="flex flex-col bg-base-100  gap-2">
                    <th:block th:if="${@rq.member.nutrientBusinessNumber != null}">
                        <span class="text-blue-500">인증이 완료된 항목입니다.</span>
                    </th:block>
                    <th:block th:unless="${@rq.member.nutrientBusinessNumber != null}">
                        <span>건강기능식품 판매업 인허가번호를 입력하세요</span>
                        <form th:action="@{/seller/nBrnoCertificate}" method="POST" class="flex gap-3 flex-grow">
                            <input type="text" name="nutrientBusinessNumber" placeholder="숫자만 입력해주세요"
                                   class="input input-bordered w-3/4"/>
                            <button class="btn btn-accent hover:bg-gray-300" type="submit">
                                제출
                            </button>
                        </form>
                    </th:block>
            </div>
        </div>
    </div>
</main>
</body>

</html>
