<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>판매업체 인증</title>
</head>

<body>
<main layout:fragment="main">
    <div class="hero-content flex flex-col mb-10 2 w-[32rem] max-w-lg mt-5">
        <div class="flex flex-col items-center justify-center">
            <h1 class="text-4xl font-bold mb-4">판매업체 인증</h1>
            <span>모든 인증이 완료된 후 상품 등록이 가능합니다.</span>
        </div>
        <div class="flex flex-col bg-base-100 pt-5 w-full justify-between items-center gap-5">
            <div class="card bg-base-100 border border-gray-200 p-5">
                <a class="text-xl" href="">통신 판매업체 인증하기</a>
            </div>
            <div class="card bg-base-100 border border-gray-200 p-5">
                <a class="text-xl" href="">건강기능식품 판매업체 인증하기</a>
            </div>
        </div>
    </div>
</main>
</body>

</html>
