<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>상품 관리</title>
</head>

<body>
<main layout:fragment="main">
    <div class="hero-content flex flex-col mb-10 2 w-[32rem] max-w-lg mt-5">
        <div class="w-full max-w-md flex flex-col justify-center gap-5 mb-20">
            <h1 class="text-2xl font-bold text-center my-5">상품 관리</h1>
            <div th:if="${product.isEmpty()}" class="flex justify-center my-16">
                <span >등록된 상품이 없습니다.</span>
            </div>
            <div th:each="product, loop : ${product}"
                 class="bg-base-100 border-b border-gray-200 pt-3 pb-6">
                <a th:href="@{|/product/detail/${product.id}|}">

                    <div class="flex justify-around gap-5">
                        <div style="width: 100px; height: 100px;">
                            <img th:src="${product.image != null ? product.image.filepath : '/'}" alt="product_image"
                                 class="object-contain"
                                 style="width: 100px; height: 100px; object-fit: cover; object-position: center; ">
                        </div>
                        <div class="flex flex-col gap-3 w-4/6">
                            <div class="flex flex-col gap-1">
                                <h3 th:text="${product.seller.name}"></h3>
                                <h1 th:text="${product.name}" class="text-lg font-bold"></h1>
                            </div>
                            <div class="flex justify-between items-center">
                                <div class="items-center">
                                    <i class="fa-solid fa-heart" style="color: #ffb0b0;"></i>
                                    <span th:text="${product.likedMembers.size()}"></span>
                                </div>
                                <span class="text-lg font-bold"
                                      th:text="${#numbers.formatInteger(product.price, 0, 'COMMA') + '원'}"></span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>
</main>
</body>

</html>
