<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>주문 조회</title>
</head>

<body>
<main layout:fragment="main">
    <div class="hero-content flex flex-col my-10 w-[32rem]">
        <h1 class="text-2xl font-bold">
            주문 조회
        </h1>

        <div class="flex flex-col w-full max-w-md mb-10 mt-5 px-5">
            <div th:if="${response.orders.size() == 0}" class="flex justify-center my-16">
                <span >주문 내역이 없습니다.</span>
            </div>
            <div class="flex flex-grow justify-between p-5 mb-10">
                <th:block th:each="status, statusIndex : ${response.filteredOrderStatus}">
                    <div class="flex flex-col justify-center items-center gap-2">
                        <span th:text="${response.orderStatusCount.containsKey(status) ? response.orderStatusCount.get(status) : 0}"
                              class="font-bold"></span>
                        <span th:text="${status.value}" class="text-sm text-center"></span>
                    </div>
                </th:block>
            </div>

            <div th:each="order, loop : ${response.orders}">
                <a th:href="@{|/order/management/${order.orderId}|}">
                    <div th:class="'bg-base-100 border-b border-gray-200 p-5' + (${loop.first} ? ' border-t' : '')">
                        <div class="flex flex-col gap-1">
                            <div class="flex justify-between">
                                <span th:text="${#temporals.format(order.payment.payDate, 'yyyy-MM-dd')}"></span>
                                <span th:class="${order.primaryOrderStatus.getNumber <= 1 ? 'badge badge-info' :
                                    (order.primaryOrderStatus.getNumber <= 3 ? 'badge badge-success' :
                                    (order.primaryOrderStatus.getNumber == 4 ? 'badge badge-ghost' : 'badge badge-error'))}"
                                      th:text="${order.primaryOrderStatus.value}"></span>
                            </div>
                            <div th:text="${order.orderNumber}"
                                 class="font-bold "></div>
                            <h3 th:text="${order.name}"></h3>

                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>


</main>
</body>

</html>
