<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>회원가입</title>
    <style>
        #btn-idCheck {
            width: 15%;
        }

        .idCheckMsgF {
            color: red;
        }

        .idCheckMsgT {
            color: blue;
        }

        #btn-emailCheck {
            width: 15%;
        }

        .emailCheckMsgF {
            color: red;
        }

        .emailCheckMsgT {
            color: blue;
        }
    </style>
</head>

<body>
<main layout:fragment="main">
    <script>
        let validUserId;
        let idChecked = false;
        $(function () {
            $("#btn-idCheck").click(function () {
                validUserId = $("#userId").val();
                $.ajax({
                    type: "get",
                    async: false,
                    url: "/usr/member/join/idCheck",
                    data: {validUserId: validUserId},
                    success: function (data) {
                        if (data == 1) {
                            $("#idCheckMsg").text("아이디를 입력하세요.");
                            $("#idCheckMsg").addClass("idCheckMsgF");
                            $("#idCheckMsg").removeClass("idCheckMsgT");
                        } else if (data == 2) {
                            $("#idCheckMsg").text("이미 사용중인 ID 입니다.");
                            $("#idCheckMsg").addClass("idCheckMsgF");
                            $("#idCheckMsg").removeClass("idCheckMsgT");
                        } else {
                            $("#idCheckMsg").text("사용 가능한 ID 입니다.");
                            $("#idCheckMsg").addClass("idCheckMsgT");
                            $("#idCheckMsg").removeClass("idCheckMsgF");
                            idChecked = true;
                        }
                    }
                })
            });
        });

        let validEmail;
        let emailChecked = false;
        $(function () {
            $("#btn-emailCheck").click(function () {
                validEmail = $("#email").val();
                $.ajax({
                    type: "get",
                    async: false,
                    url: "/usr/member/join/emailCheck",
                    data: {validEmail: validEmail},
                    success: function (data) {
                        if (data == 1) {
                            $("#emailCheckMsg").text("이메일을 입력하세요.");
                            $("#emailCheckMsg").addClass("emailCheckMsgF");
                            $("#emailCheckMsg").removeClass("emailCheckMsgT");
                        }
                            // else if (data == 2) {
                            //     $("#emailCheckMsg").text("올바르지 않은 형식입니다.");
                            //     $("#emailCheckMsg").addClass("emailCheckMsgF");
                            //     $("#emailCheckMsg").removeClass("emailCheckMsgT");
                        // }
                        else if (data == 3) {
                            $("#emailCheckMsg").text("이미 사용중인 이메일 입니다.");
                            $("#emailCheckMsg").addClass("emailCheckMsgF");
                            $("#emailCheckMsg").removeClass("emailCheckMsgT");
                        } else {
                            $("#emailCheckMsg").text("사용 가능한 이메일 입니다.");
                            $("#emailCheckMsg").addClass("emailCheckMsgT");
                            $("#emailCheckMsg").removeClass("emailCheckMsgF");
                            emailChecked = true;
                        }
                    }
                })
            });
        });

        window.onload = function () {
            const radioButtons = document.querySelectorAll('input[name="option"]');
            for (let i = 0; i < radioButtons.length; i++) {
                radioButtons[i].checked = false;
            }
        };

        let MemberJoin__submitDone = false;

        function MemberJoin__submit(form) {
            if (MemberJoin__submitDone) {
                return;
            }
            const existingUserTypeInput = document.querySelector('input[name="userType"]');
            if (existingUserTypeInput) {
                existingUserTypeInput.remove();
            }

            let radioButtons = form.querySelectorAll('input[name="option"]');
            let userType = "";
            for (let i = 0; i < radioButtons.length; i++) {
                if (radioButtons[i].checked) {
                    userType = radioButtons[i].value;
                    break;
                }
            }

            if (userType === "") {
                toastWarning("회원 유형을 선택해주세요.");
                return;
            }

            const userTypeInput = document.createElement("input");
            userTypeInput.type = "hidden";
            userTypeInput.name = "userType";
            userTypeInput.value = userType;
            form.appendChild(userTypeInput);

            form.username.value = form.username.value.trim();

            if (form.username.value.length == 0) {
                toastWarning("아이디를 입력해주세요.");
                form.username.focus();
                return;
            }
            if (form.username.value != validUserId || !idChecked) {
                toastWarning("아이디 중복확인을 해주세요.");
                return;
            }

            form.password.value = form.password.value.trim();

            if (form.password.value.length == 0) {
                toastWarning("비밀번호를 입력해주세요.");
                form.password.focus();
                return;
            }

            form.password2.value = form.password2.value.trim();

            if (form.password2.value != form.password.value) {
                toastWarning("비밀번호가 일치하지 않습니다.");
                form.password.focus();
                return;
            }

            form.email.value = form.email.value.trim();

            if (form.email.value.length == 0) {
                toastWarning("이메일을 입력해주세요.");
                form.email.focus();
                return;
            }
            if (form.email.value != validEmail || !emailChecked) {
                toastWarning("이메일 중복확인을 해주세요.");
                return;
            }

            form.submit();
            MemberJoin__submitDone = true;
        }

        function validateInput(element) {
            const regex = /^[a-zA-Z0-9@.]+$/;
            const inputValue = element.value;

            if (!regex.test(inputValue)) {
                element.value = inputValue.replace(/[^a-zA-Z0-9@.]/g, '');
            }
        }
        function enableEnglishAndNumberInput(element) {
            const regex = /^[a-zA-Z0-9]+$/;
            const inputValue = element.value;

            if (!regex.test(inputValue)) {
                element.value = inputValue.replace(/[^a-zA-Z0-9]/g, '');
            }
        }

    </script>

    <div class="hero-content flex flex-col my-10">
        <h1 class="text-4xl font-bold">
            회원가입
        </h1>

        <div class="max-w-2xl w-full px-4">

            <form th:action method="POST" class="flex flex-col gap-3 flex-grow" id="joinForm"
                  onsubmit="MemberJoin__submit(this); return false;">
                <span>회원 유형</span>
                <div class="flex flex-row">
                    <div class="w-1/2">
                        <input type="radio" name="option" id="1" class="peer hidden" value="1"/>
                        <label for="1"
                               class="block cursor-pointer select-none border rounded-xl p-2 text-center peer-checked:bg-blue-500 peer-checked:font-bold peer-checked:text-white">
                            일반 회원
                        </label>
                    </div>
                    <div class="w-1/2">
                        <input type="radio" name="option" id="2" class="peer hidden" value="2"/>
                        <label for="2"
                               class="block cursor-pointer select-none border rounded-xl p-2 text-center peer-checked:bg-red-500 peer-checked:font-bold peer-checked:text-white">
                            판매자 회원
                        </label>
                    </div>
                </div>
                <div class="form-control flex">
                    <div class="flex-row">
                        <span>아이디</span>
                        <span id="idCheckMsg"></span>
                    </div>
                    <div class="flex flex-row">
                        <input type="text" id="userId" maxlength="15" name="userId" placeholder="아이디를 입력하세요"
                               class="input input-bordered input input-bordered flex-grow mr-4"
                               oninput="enableEnglishAndNumberInput(this)"/>
                        <button type="button" id="btn-idCheck" class="btn btn-block" style="border: none;">
                            <span>중복 확인</span>
                        </button>
                    </div>
                </div>
                <div class="form-control">
                    <span>이름</span>
                    <input type="text" name="username" maxlength="8" placeholder="실명을 입력하세요"
                           class="input input-bordered"/>
                </div>
                <div class="form-control">
                    <span>비밀번호</span>
                    <input type="password" name="password" maxlength="12" placeholder="비밀번호"
                           class="input input-bordered"/>
                </div>
                <div class="form-control">
                    <span>비밀번호 확인</span>
                    <input type="password" name="password2" maxlength="12" placeholder="비밀번호 확인"
                           class="input input-bordered"/>
                </div>
                <div class="form-control flex">
                    <div class="flex-row">
                        <span>이메일</span>
                        <span id="emailCheckMsg"></span>
                    </div>
                    <div class="flex flex-row ">
                        <input type="text" id="email" name="email" maxlength="30" placeholder="이메일 주소"
                               class="input input-bordered flex-grow mr-4" oninput="validateInput(this)"/>
                        <button type="button" id="btn-emailCheck" class="btn btn-block" style="border: none;">
                            <span>중복 확인</span>
                        </button>
                    </div>
                </div>
                <button id="btn-join" class="btn btn-block gap-1"
                        style="background-color: rgb(220 252 231); border: none;">
                    <span class="text-black">회원 가입</span>
                </button>
            </form>
        </div>
    </div>
</main>
</body>

</html>