<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>회원가입</title>
</head>

<body>
<main layout:fragment="main">
    <div class="hero-content flex flex-col mb-10 2 mt-12">
        <h1 class="text-2xl font-bold">
            회원가입
        </h1>

        <div class="max-w-2xl w-full px-5 mt-8">
            <form th:action method="POST" class="flex flex-col flex-grow" id="joinRequest"
                  onsubmit="MemberJoin__submit(this); return false;">
                <div class="flex flex-col gap-2">
                    <div><span class="font-bold text-lg">회원 유형 선택</span></div>
                    <div class="flex justify-around gap-2">
                        <div class="w-1/2">
                            <input type="radio" name="option" id="1" class="peer hidden" value="구매자"/>
                            <label for="1"
                                   class="block cursor-pointer select-none border border-gray-400 rounded-xl p-2 text-center peer-checked:bg-blue-200 peer-checked:font-bold peer-checked:border-0">
                                일반 회원
                            </label>
                        </div>
                        <div class="w-1/2">
                            <input type="radio" name="option" id="3" class="peer hidden" value="대기자"/>
                            <label for="3"
                                   class="block cursor-pointer select-none border border-gray-400 rounded-xl p-2 text-center peer-checked:bg-red-200 peer-checked:font-bold peer-checked:border-0">
                                판매자 회원
                            </label>
                        </div>
                    </div>
                </div>
                <span class="font-bold text-lg mt-8 mb-2">회원 정보 입력</span>
                <div class="flex flex-col gap-3">
                    <div class="form-control flex gap-1">
                        <span id="userNameCheckMsg"></span>
                        <div class="flex flex-row">
                            <input type="text" id="username" maxlength="15" name="username" placeholder="아이디를 입력하세요"
                                   required pattern=".*\S.*" onkeydown="usernameWrite(this)"
                                   class="input input-bordered flex-grow mr-4 w-3/4"
                                   oninput="enableInputEnglishAndNumber(this)"/>
                            <button type="button" id="btn-usernameCheck" class="btn" style="border: none;">
                                <span>중복 확인</span>
                            </button>
                        </div>
                    </div>
                    <div class="form-control">
                        <input type="text" name="name" maxlength="8" placeholder="실명을 입력하세요"
                               required pattern=".*\S.*"
                               class="input input-bordered"
                               oninput="enableInputKorean(this)"/>
                    </div>
                    <div class="form-control">
                        <div class="flex-row">
                            <span id="passwordCheckMsg" class="checkMsgF"></span>
                        </div>
                        <input type="password" name="password" maxlength="12" placeholder="비밀번호"
                               required pattern=".*\S.*" class="input input-bordered"
                               oninput="enableInputEnglishAndNumber(this)"/>
                    </div>
                    <div class="form-control">
                        <div class="flex-row">
                            <span id="password2CheckMsg" class="checkMsgF"></span>
                        </div>
                        <input type="password" name="password2" maxlength="12" placeholder="비밀번호 확인"
                               required pattern=".*\S.*" class="input input-bordered"
                               oninput="enableInputEnglishAndNumber(this)"/>
                    </div>
                    <div class="form-control flex">
                        <div class="flex-row">
                            <span id="emailCheckMsg"></span>
                        </div>
                        <div class="flex flex-row ">
                            <input type="text" id="email" name="email" maxlength="30" placeholder="이메일 주소"
                                   required pattern=".*\S.*" onkeydown="emailWrite(this)"
                                   class="input input-bordered flex-grow mr-4 w-3/4" oninput="enableInputEmailStyle(this)"/>
                            <button type="button" id="btn-emailCheck" class="btn" style="border: none;">
                                <span>중복 확인</span>
                            </button>
                        </div>
                    </div>
                    <button id="btn-join" class="btn btn-block btn-accent gap-1 mt-5">
                        <span class="text-black">회원 가입</span>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <script>
        function usernameWrite() {
            usernameChecked = false;
        }

        function emailWrite() {
            emailChecked = false;
        }

        let validUsername;
        let usernameChecked = false;

        $(function () {
            $("#btn-usernameCheck").click(function () {
                validUsername = $("#username").val();
                $.ajax({
                    type: "get",
                    async: false,
                    url: "/member/join/usernameCheck",
                    data: {username: validUsername},
                    dataType: "json",
                    success: function (data) {
                        $("#userNameCheckMsg").text(data.msg);
                        if(data.resultCode.startsWith("F-")){
                            $("#userNameCheckMsg").addClass("checkMsgF");
                            $("#userNameCheckMsg").removeClass("checkMsgT");
                        } else {
                            $("#userNameCheckMsg").addClass("checkMsgT");
                            $("#userNameCheckMsg").removeClass("checkMsgF");
                            usernameChecked = true;
                        }
                    }
                })
            });
        });

        let validEmail;
        let emailChecked = false;
        $(function () {
            $("#btn-emailCheck").click(function () {
                validEmail = $("#email").val();
                $.ajax({
                    type: "get",
                    async: false,
                    url: "/member/join/emailCheck",
                    data: {email: validEmail},
                    success: function (data) {
                        $("#emailCheckMsg").text(data.msg);
                        if (data.resultCode.startsWith("F-")) {
                            $("#emailCheckMsg").addClass("checkMsgF");
                            $("#emailCheckMsg").removeClass("checkMsgT");
                        } else {
                            $("#emailCheckMsg").addClass("checkMsgT");
                            $("#emailCheckMsg").removeClass("checkMsgF");
                            emailChecked = true;
                        }
                    }
                })
            });
        });

        window.onload = function () {
            const radioButtons = document.querySelectorAll('input[name="option"]');
            for (let i = 0; i < radioButtons.length; i++) {
                radioButtons[i].checked = false;
            }
        };

        let MemberJoin__submitDone = false;

        function MemberJoin__submit(form) {
            if (MemberJoin__submitDone) {
                return;
            }
            const existingUserTypeInput = document.querySelector('input[name="userType"]');
            if (existingUserTypeInput) {
                existingUserTypeInput.remove();
            }

            let radioButtons = form.querySelectorAll('input[name="option"]');
            let userType = "";
            for (let i = 0; i < radioButtons.length; i++) {
                if (radioButtons[i].checked) {
                    userType = radioButtons[i].value;
                    break;
                }
            }

            if (userType === "") {
                toastWarning("회원 유형을 선택해주세요.");
                return;
            }

            const userTypeInput = document.createElement("input");
            userTypeInput.type = "hidden";
            userTypeInput.name = "userType";
            userTypeInput.value = userType;
            form.appendChild(userTypeInput);

            form.username.value = form.username.value.trim();

            if (form.username.value !== validUsername || !usernameChecked) {
                toastWarning("아이디 중복확인을 해주세요.");
                form.username.focus();
                return;
            }
            form.name.value = form.name.value.trim();

            const pw = form.password.value.trim();
            const num = pw.search(/[0-9]/g);
            const eng = pw.search(/[a-z]/ig);

            if (pw.length < 8 || pw.length > 12) {
                toastWarning("비밀번호를 8자리 ~ 12자리로 입력해주세요.");
                $("#passwordCheckMsg").text("8자리 ~ 12자리로 입력해주세요.");
                form.password.focus();
                return;
            } else if (pw.search(/\s/) != -1) {
                $("#passwordCheckMsg").text("공백 없이 입력해주세요.");
                toastWarning("공백 없이 입력해주세요.");
                form.password.focus();
                return;
            } else if (num < 0 || eng < 0) {
                $("#passwordCheckMsg").text("영문, 숫자를 포함해야 합니다.");
                toastWarning("영문, 숫자를 포함해야 합니다.");
                form.password.focus();
                return;
            } else {
                $("#passwordCheckMsg").text("");
            }

            form.password2.value = form.password2.value.trim();
            if (form.password2.value !== form.password.value) {
                toastWarning("비밀번호가 일치하지 않습니다.");
                $("#password2CheckMsg").text("일치하지 않습니다.");
                form.password2.focus();
                return;
            }

            form.email.value = form.email.value.trim();
            if (form.email.value !== validEmail || !emailChecked) {
                toastWarning("이메일 중복확인을 해주세요.");
                return;
            }

            form.submit();
            MemberJoin__submitDone = true;
        }

        function enableInputEmailStyle(element) {
            const regex = /^[a-zA-Z0-9@.]+$/;
            const inputValue = element.value;
            if (!regex.test(inputValue)) {
                element.value = inputValue.replace(/[^a-zA-Z0-9@.]/g, '');
            }
        }

        function enableInputKorean(element) {
            const regex = /^[ㄱ-힣]+$/;
            const inputValue = element.value;
            if (!regex.test(inputValue)) {
                element.value = inputValue.replace(/[^ㄱ-힣]/g, '');
            }
        }

        function enableInputEnglishAndNumber(element) {
            const regex = /^[a-zA-Z0-9]+$/;
            const inputValue = element.value;
            if (!regex.test(inputValue)) {
                element.value = inputValue.replace(/[^a-zA-Z0-9]/g, '');
            }
        }

    </script>

</main>
</body>

</html>