<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>내 댓글</title>
</head>

<body>
<main layout:fragment="main">
    <div class="hero-content flex flex-col mb-10 2 w-[32rem] mt-5">
        <div class="flex justify-center mb-5 gap-1">
            <a href="/usr/member/myPosts" class="text-2xl text-center">내 질문</a>
            <div class="divider divider-horizontal !mx-1"></div>
            <a href="/usr/member/myComments" class="text-2xl font-bold text-center">내 답변</a>
        </div>
        <div th:if="${comments.size()==0}" class="mt-10">
            <span class="flex items-center justify-center">등록한 답변 없습니다.</span>
        </div>
        <div class="flex flex-col gap-5 w-full max-w-md mb-10 px-5" th:if="${comments.size()!=0}">
            <table class="table px-5">
                <colgroup>
                    <col style="width: 70%">
                    <col style="width: 30%">
                </colgroup>
                <thead class="table-dark">
                <tr>
                    <th class="text-center">답변</th>
                    <th class="text-center">작성일</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="comment, loop : ${comments}">
                    <td style="max-width: 180px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                        <div style="max-width: 180px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                            <a th:text="${comment.content}"
                               th:href="@{/usr/post/detail/{id}(id=${comment.post.id})}"></a>
                        </div>
                    </td>
                    <td class="flex justify-center">
                        <span th:text="${#temporals.format(comment.createDate, 'yy-MM-dd')}"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
</body>

</html>
