<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>내 질문</title>
</head>

<body>
<main layout:fragment="main">
    <div class="hero-content flex flex-col mb-10 2 w-[32rem] mt-5">
        <div class="flex justify-center mb-5 gap-1">
            <a href="/member/myPosts" class="text-2xl font-bold text-center text-primary">내 질문</a>
            <div class="divider divider-horizontal !mx-1"></div>
            <a href="/member/myComments" class="text-2xl text-center">내 답변</a>
        </div>
        <div th:if="${response.posts.size()==0}" class="mt-10">
            <span class="flex items-center justify-center">등록한 질문이 없습니다.</span>
        </div>
        <div class="flex flex-col gap-5 w-full max-w-md mb-10 px-5" th:if="${response.posts.size()!=0}">
            <table class="table px-5">
                <colgroup>
                    <col style="width: 70%">
                    <col style="width: 30%">
                </colgroup>
                <thead class="table-dark">
                <tr>
                    <th class="text-center">제목</th>
                    <th class="text-center">작성일</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="post, loop : ${response.posts}">
                    <td style="max-width: 180px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                        <div class="flex flex-row items-center">
                            <div style="max-width: 180px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                <a th:text="${post.title}" th:href="@{/post/detail/{id}(id=${post.id})}"></a>
                            </div>
                            <span class="ml-2"
                                  th:text="${(post.getCommentCnt() >= 1 ? ' (' + post.getCommentCnt() + ')' : '')}"></span>
                        </div>
                    </td>
                    <td class="flex justify-center">
                        <span th:text="${#temporals.format(post.createDate, 'yy-MM-dd')}"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
</body>

</html>
